body {
  color: $body-color;
  font-family: $font-family-body;
  font-size: 100%;
  font-weight: 400;
}

a {
  color: $link;
  text-decoration: none;

  &:visited {
    color: $link-visited;
    text-decoration: none;
  }

  &:hover,
  &:focus,
  &:active {
    color: $link-hover;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4 {
  color: $brown;
  font-family: $font-family-heading;
  font-weight: 400;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 2.75em;
  line-height: 1.2;
  margin: .5em 0 .25em;
}

h2 {
  font-size: 2.25em;
  line-height: 1.2;
  margin-bottom: .8em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.3125em;
  line-height: 1.143;
  margin-bottom: 1.143em;
}

p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em;
  padding: 0;
}

ul {
  list-style-type: none;
}

li {
  line-height: 1.5;
}

dl {
  margin-bottom: 1;
}

dt,
dd {
  line-height: 1.5;
}

dt {
  color: $black;
  font-weight: 400;
  margin-top: .625em;
}

dd {
  margin-left: 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
